*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    animation-name: opac;
    animation-duration: 0.5s;
    scroll-padding-top: 46px;
}
.header-title{
    font-weight: 600;
    font-size: 0.86rem;
    background: black;
}
.header-left{
    color: red;
}
.header-left-items{
    display: inline-block;
}
.header-left span {
    color: rgb(179, 174, 174);
}
.header-right{
    min-width: 142.91px     ;
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}
.header-right ul li a{
    color: #777;
}
.header-right ul li a:hover{
    color: red;
}
@media only screen and (max-width: 770px){
    .header-right{
        margin: 20px 0px 0px 20px;
    }
}
@media only screen and (max-width: 550px){

    .header-right{
        text-align: left;
    }
}
@media only screen and (min-width: 390px){
    .header-left{ min-width: 327.57px;
    }
}
.fixer{
    padding: 20px 0;
    width: 100%;
    background: white;
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
@media only screen and (max-width: 320px){
    .fixer{
        padding: 0;
    }
}
.nav-link:active,.nav-link:hover{
    background: white;
}
.nav-search{
    color: #777;
}
.nav-search:hover{
    color: #777;
}
.nav-link{
    font-weight: 550;
    font-size: 0.9rem;
    font-family: sans-serif;
    padding: 15px!important;
}
.nav-link:hover{
    color: red!important;
}
.dropdown-menu{
    padding: 0;
    background: rgb(39, 39, 39);
    display: block;
    opacity: 0;
    width: 0px;
    transition:  0.25s  ease 0.1s;
    transition-duration: 0.15s ;
}
.dropdown-item{
    font-family: sans-serif;
    height: 36px;
    color: rgb(185, 182, 182);
    margin: 3px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 0;
    transition:  0.25s  ease 0.2s;
}
.nav-item:hover .dropdown-menu{
    margin-top: 20px;
    opacity: 1;
    width: 200px;
}
.nav-item:hover .dropdown-item{
    font-size: 1.3rem;
}
.dropdown-item:hover{
    background: rgb(114, 114, 114);
}
.carousel ol li{
    width: 0.95rem;
    height: 0.95rem;
    border-radius: 50%;
}
.carousel-item{
    position: relative;
}
.cs1{
    position: absolute;
    top: 30%;
    left: 0%;
}
.carousel-title-h1{
    text-align: left;
    font-size: 4rem;
    margin-bottom: 1.5%;
}
.carousel-title-h3{
    font-size: 1.4rem;
}
.btn-gr{
    text-align: left;
}
.btn-img{
    width: 140px;
    height: 50px;
    border: none;
    font-weight: 600;
    font-family: sans-serif;
}
.img-btn-1{
    background: red;
    color: white;
}
.img-btn-2{
    transition: 0.5s;
    background: white;
    color: red;
}
.img-btn-1:hover{
    background: firebrick;
    transition: 0.5s;
}
.img-btn-1:active{
    background: dodgerblue;
}
.img-btn-2:active{
    background: #777;
    color: black;
}
button:focus{
    outline: none;
}
.template{
    animation-name: opac ;
    animation-duration: 0.8s;
    position: relative;
    background: rgb(233, 231, 231);
    width: 100%;
    padding: 100px 0;
}
.template-item{
    box-shadow: 4px 4px 8px #777;
    margin: 20px 0;
    background: white;
    position: relative;
    bottom: 0%;
    transition-duration: 0.4s ;
    transition: 0.5s ease 0.2s;
    transition-delay: 0.1s ;
}
.template-img img{
    width: 100%;
}
.template-detail{
    padding: 30px;
}
.template-detail h1{
    margin: 10px 0;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600 ;
}
.template-detail p{
    line-height: 25px;
    color: #777;
    font-family: sans-serif;
    font-size: 0.9rem; 
}
.template-item:hover{
    position: relative;
    bottom: 5%;
}
@keyframes opac {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    40% {opacity: 0.4;}
    60% {opacity: 0.6;}
    80% {opacity: 0.8;}
    100% {opacity: 1;}
}
.multi-sec{
    background: white;
    padding: 100px 0;
}

.multi-sec-detail h2{
    font: 2rem sans-serif;
    padding: 20px 0 10px;
}
hr{
    width: 70px;
    height: 1px;
    margin: 0 0 50px;
    color: rgb(226, 61, 39);
    background: rgb(226, 61, 39);
}
.multi-sec-detail p{
    font: 0.9rem sans-serif;
    color: #777;
    line-height: 23.5px;
    margin: 0 0 15px;
}
.faq-team{
    padding: 5%;
    background: rgba(235, 235, 235, 0.795);
    position: relative;
}
.faq-team-header h1{
    font: 2rem sans-serif;
    padding: 20px 0 10px;
}
.faq-team-item h3{
    font: 1.3rem sans-serif;
}
.faq-team-item p{
    font: 1rem sans-serif;
    color: #777;
}
.faq-team-item img{
    max-width: 255px;
}
@media only screen and (max-width:300px){
    .faq-team-item img{
        max-width: 100px;
    }
}
.question{
    margin: 0px;
    font: 1.1rem sans-serif;
    color: #444;
    line-height: 40px;
}
.question:hover{
    color: #444;
}
.faq-dropdown-menu{
    border-top: 1px solid rgb(202, 202, 202);
    display: none;
}
.faq-dropdown-menu p{
    word-break: none;
    padding: 20px;
    font: 0.95rem sans-serif;
    color: #777;
    line-height: 25px;
}
.list-group-item:hover .question{
    text-decoration: underline;
}
.person-infor{
    padding: 5% 0;
    background: rgba(228, 224, 224, 0.795);
}
@media only screen and (max-width: 1300px){
    .person-infor{
        padding: 5%;
    }
}
.block-quote{
    margin: 0 auto;
    text-align: center;
}
.quote-img{
    height: 300px ;
    width: 100%;
}
@media only screen and (max-width: 950px){
    .quote-img{
        height: 400px;
    }
}
blockquote p{
    color: #777;
    font: 1rem sans-serif;
    line-height: 35px;
}
blockquote h4{
    margin-top: 10px;
    color: #111;
    font-weight: 550!important;
    font: 1.1rem sans-serif;
}
.quote-caption{
    position: absolute;
    top:0;
}
#cr-indi-li1{
    width: 50px;
    height: 50px;
    background-image: url(img/128.jpg);
    background-size: cover;
    border: 4px solid #999;
}
#cr-indi-li2{
    width: 50px;
    height: 50px;
    background-image: url(img/129.jpg);
    background-size: cover;
    border: 4px solid #999;
}
#cr-indi-li3{
    width: 50px;
    height: 50px;
    background-image: url(img/130.jpg);
    background-size: cover;
    border: 4px solid #999;
}
.service{
    background: #f5f4f3;
    padding: 5% 0;
}
.service h1{
    font: 2rem sans-serif;
    margin-bottom: 50px;
    font-weight: bold;
}
.service h1 hr{
    border: 1.5px solid red;
}
.service-item{
    background: white;
    margin: 15px 0;
    padding: 20px 0;
    box-shadow:  4px 4px 12px #777;
    position: relative;
    bottom: 0%;
    transition-duration: 0.4s ;
    transition: 0.4s ease 0.2s;
    transition-delay: 0.1s ;
}
.service-item:hover{
    position: relative;
    bottom: 5%;
}
.service-item-icon{
    width: 52px;
    height: 52px;
    color: white;
    background: red;
    margin: 0 auto;
    font-size: 2rem;
    padding-top: 0.7rem ;
    border-radius: 50%;
}
.service-item-detail{
    margin: 0 15px;
}
.service-item-detail h2{
    font: 1.25rem sans-serif;
    font-weight: 550;
}
.service-item-detail p{
    text-align: left;
    font: 0.9rem sans-serif;
    line-height: 25px;
    color: #777;
}
.clients{
    background: #fff;
    padding: 5%;
}
.clients h1{
    font: 2rem sans-serif;
    margin-bottom: 80px;
    font-weight: bold;
}
.clients-item{
    box-shadow: 1px 1px 16px #888;
    text-align: center;
    position: relative;
    bottom: 0%;
    transition-duration: 0.4s ;
    transition: 0.15s ease 0.2s;
    transition-delay: 0.1s ;
    margin: 10px 0;
}
.clients-item:hover{
    position: relative;
    bottom: 10%;
}
.clients-item img{
    max-width: 150px;
    height: 90px;
}
.recent-post{
    padding: 5%;
    background: #f5f4f3;
}
.recent-post h1{
    font: 2rem sans-serif;
    margin-bottom: 80px;
    font-weight: bold;
}
.recent-post-item{
    background: #fff;
    box-shadow: 0px 1px 12px -3px #999;
    transition-duration: 0.4s;
    transition: 0.4s ease 0.2s;
    position: relative;
    bottom: 0%;
}
.recent-post-item:hover{
    position: relative;
    bottom: 6%;
}
.recent-post-detail{
    padding: 13px;
    margin: 20px;
}
.recent-post-detail h2 a{
    font: 1.5rem sans-serif;
    color: black;
    transition: 0.35s;
}
.recent-post-detail h2{
    margin: 0  0 10px 0;
}
.recent-post-detail h2 a:hover{
    color: red;
    text-decoration: none;
}
.recent-post-detail p{
    font: 0.95rem sans-serif;
    line-height: 26px;
    color: #777;
}
.recent-post-detail h3 b{
    font-weight: bold;
}
.recent-post-detail h3 a{
    color: #000;
    transition: 0.2s;
}
.recent-post-detail h3 a:hover{
    color: red;
    text-decoration: none;
}
.recent-post-detail h3{
    color: #777;
    font: 0.73rem sans-serif;
    padding-bottom: 10px;
}
.recent-post-btn{
    max-width: 130px;
    min-height: 32px;
    text-align: center;
    color: white;
    font: 1rem sans-serif;
    background: red;
    border: 10px solid red;
}
.footer{
    background: #1f1f1f;
    padding: 100px 0;
}
.footer-title{
    font: 0.94rem sans-serif;
    line-height: 25px;
    color: #bbb
}
.footer-recent h2{
    font: 1.3rem sans-serif;
    color: #fff;
    margin-bottom: 10px;
}
.footer-recent a{
    font: 0.94rem sans-serif;
    color: #bbb;
    line-height: 29px;
}
.footer-contact h2{
    font: 1.3rem sans-serif;
    color: #fff;
    margin-bottom: 10px;
}
.footer-contact p{
    font: 0.94rem sans-serif;
    color: #bbb;
    line-height: 29px;
}
.active{
    
}